!!!
%html
  %head
    %title=APP_CONFIG.app_name
    = csrf_meta_tag
    = stylesheet_link_tag "<%= file_name %>/base", "<%= file_name %>/style", "<%= file_name %>/override", :cache => true
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Application
        #user-navigation
          %ul.wat-cf
            %li
              %a{:href => "#"}= t("core.profile", :default => "Profile")
            %li
              %a.logout{:href => "/logout"}= t("core.logout", :default => "Logout")
        
        #main-navigation
          %ul.wat-cf
            %li
              %a{:href => "#"}= t("core.home", :default => "Home")

      #wrapper.wat-cf
        - flashes
        #main
          .block
            .content
              = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} #{APP_CONFIG.app_name}.
        #sidebar
          = yield :sidebar
          
          
  = javascript_include_tag :defaults, 'jquery.form','core', :cache => true
  